<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      h1 {
        margin-top: 50px;
        font-size: 3em;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <h1>login page</h1>
    <form action="/api/user/login" method="post">
      <label for="email">email</label>
      <input type="email" name="email" id="email" required />
      <label for="password">password</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Signup</button>
    </form>
    
  </body>
</html>
